body{
    background-image: url(jojo-s-bizarre-adventure-hirohiko-araki-anime-manga-jojo-s-bizarre-adventure-diamond-is-unbreakable-hd-wallpaper-preview.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}